---
layout: layouts/home.njk
permalink: /photos/
eleventyNavigation:
  key: photos
  order: 3
---

<div style="margin:auto !important; max-width:900px !important;">

{% set postslist = collections.photos %}
{% include "postslist.njk" %}

</div>