---
layout: layouts/home.njk
permalink: /scribbles/
eleventyNavigation:
  key: scribbles
  order: 4
---

<div style="margin:auto !important; max-width:700px !important;">

{% set postslist = collections.scribbles %}
{% include "postslist.njk" %}

</div>