---
layout: layouts/post.njk
eleventyNavigation:
  key: words
  order: 2
pagination:
  data: collections.words
  size: 4
  alias: posts
  reverse: true
---

<div style="margin:auto !important; max-width:700px !important;">

{%- for post in posts %}

<h1><a href="{{ post.url | url }}" class="post-header">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a></h1>
{{ content | safe }}

<p>{{ post.templateContent | safe  }}</p>

<br>
<br>

{% if loop.index < 5 %}

<hr>

{% endif %}


<br>

{% endfor %}


</div>

<div style="text-align:center; font-size: 0.9em";>

{% if pagination.href.previous %}
  <a href="{{ pagination.href.previous }}">previous</a> | 
{% endif %}
{% if pagination.href.next %}
  <a href="{{ pagination.href.next }}">next</a>
{% endif %}

</div>