---
layout: layouts/home.njk
permalink: /words/
eleventyNavigation:
  key: words
  order: 2
---

<div style="margin:auto !important; max-width:700px !important;">

{% set postslist = collections.words %}
{% include "postslist.njk" %}

</div>