---
layout: layouts/base.njk
templateClass: chart-post
---
<script src="https://d3js.org/d3.v7.min.js"></script>
<div style="margin:auto !important; max-width:700px !important;">

<h1 class="post-header">{{ title }}</h1>


{{ content | safe }}

</div>



