---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div style="margin:auto !important; max-width:700px !important;">
<br>
<center><small>Cross posted from my <a href='https://joshnicholas.micro.blog/'>micro.blog</a></small></center>
<br>
<h1 class="post-header">{{ title }}</h1>


{{ content | safe }}

</div>
